Header set Access-Control-Allow-Origin 'http://localhost:4200'
Header always set Access-Control-Allow-Headers "*"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE, PATCH"